.NavBarC {
	border: solid orange 1px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #014404;
	transition: 0.5s ease;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-right: 15px; */
}

a:visited,
a:active,
a:link,
a:hover {
	background-color: #f44336;
	color: white;
	margin-top: 150px;
	margin-left: 10px;
	border: greenyellow;
	border-radius: 80%;
}

@media only screen and (max-width: 600px) {
	.NavBarC {
		height: 100%;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		background-color: #014404;
		transition: 0.5s ease;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 22%;
	}

	a:visited,
	a:active,
	a:link,
	a:hover {
		background-color: #f44336;
		color: white;
		margin-top: 100px;
		margin-left: 10px;
		border: greenyellow;
		border-radius: 80%;
	}
}
