.App {
	text-align: center;
	background-color: green;
}

.main_body {
	display: block;
	overflow: auto;
	background-color: green;
	text-align: center;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 38px;
}

.App-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	background: #333;
	padding: 10px 0;
	color: #fff;
	z-index: 100;
	top: 0;
	left: 0;
	margin-left: 77px;
	margin-right: 0;
}

.NavBarC {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #014404;
	transition: 0.5s ease;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.NavBarLinks:visited,
.NavBarLinks:active {
	/* background-color: #f44336; */
	color: white;
	margin-top: 100px;
	padding-top: 50px;
}

.body {
	display: block;
	overflow: auto;
	background-color: green;
	text-align: center;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 38px;
}

.individual_Review {
	border: 2px solid black;
	margin: 15px 0px;
}
.review_img {
	width: 100%;
}

.hidden {
	display: none;
}
@media only screen and (max-width: 600px) {
}
