.App {
	text-align: center;
	background-color: green;
}

.main_body {
	border: solid orange 1px;
	position: relative;
	top: 0;
	display: flex;
	flex-flow: column;
	overflow: auto;
	background-color: rgb(192, 197, 192);
	text-align: center;
	margin-top: 75px;
	margin-left: 55px;
	height: 100vh;
}

.App-header {
	border: solid orange 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	background: #333;
	padding: 10px 0;
	color: #fff;
	z-index: 100;
	top: 0;
	margin-left: 77px;
	margin-right: 0;
}

.body {
	display: block;
	overflow: auto;
	text-align: center;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 38px;
}

@media only screen and (max-width: 600px) {
	.App {
		text-align: center;
		background-color: white;
	}

	.main_body {
		display: flex;
		flex-flow: column;
		overflow: auto;
		background-color: rgb(192, 197, 192);
		text-align: center;
		margin-top: 125px;
		margin-left: 85px;
		height: 100vh;
		padding-top: 20px;
	}

	.App-header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: fixed;
		background: rgb(70, 65, 65);
		padding: 10px 0;
		color: #fff;
		z-index: 100;
		top: 0;
		margin-left: 77px;
		margin-right: 0;
	}

	.body {
		display: block;
		overflow: auto;
		text-align: center;
		margin-left: 40px;
		margin-right: 10px;
		margin-top: 38px;
	}
}
